.root {
  width: fit-content;
  background-color: var(--processing-blue-dark);
  color: white;
  padding: 6px 18px;
  font-family: var(--font-mono);
  font-size: var(--text-small);
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  right: 0;
  bottom: 0;
  display: block;
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  z-index: -1;
  background-color: #0251c8;
  transform: translate(3px, -3px) rotate(2deg);
}

.root:hover::before {
  transform: translate(-7px, -7px) rotate(-4deg);
  color: white;
}

.root:focus {
  background: var(--darkgray);
  color: white;
}

.root:hover {
  color: white;
}

/*  Colors  */

.root.gray {
  background-color: var(--lightgray);
  color: black;
  &:hover {
    background-color: var(--gray);
  }
}

/*  Sizes  */

.small {
  padding: 5px 18px 6px 18px;
  font-size: var(--text-small);
}

.large {
  padding: var(--gutter) var(--gutter-double);
  font-size: var(--text-regular);
}

@media (--medium) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double) * 2 / 3);
  }
}

@media (--reduced) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double));
  }
}

@media (--small) {
  .large {
    padding: var(--gutter-double) calc(var(--gutter-double) * 2);
  }
}
