.root {
  width: fit-content;
  background-color: var(--processing-blue-dark);
  color: white;
  padding: 6px 18px;
  font-family: var(--font-mono);
  font-size: var(--text-small);
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  right: 0;
  bottom: 0;
  display: block;
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  z-index: -1;
  background-color: #0251c8;
}

.root:focus {
  background: var(--darkgray);
  color: white;
}

.root:hover {
  color: white;
}

/*  Colors  */

.root.gray {
  background-color: var(--lightgray);
  color: black;
  &:hover {
    background-color: var(--gray);
  }
}

/*  Sizes  */

.small {
  padding: 5px 18px 6px 18px;
  font-size: var(--text-small);
}

.large {
  padding: var(--gutter) var(--gutter-double);
  font-size: var(--text-regular);
}

/* Types */

.reference::before {
  transform: rotate(-5deg);
}

.reference:hover::before {
  transform: rotate(5deg);
  color: white;
}

.download::before {
  transform: translate(-5px, -5px) rotate(2deg);
  transform-origin: left;
}

.download:hover::before {
  transform: translate(3px, 3px) rotate(-4deg);
  color: white;
}

.donate::before {
  transform: translate(5px, 5px) rotate(2deg);
  transform-origin: right;
}

.donate:hover::before {
  transform: translate(-3px, -3px) rotate(-4deg);
  color: white;
}

.tutorial::before {
  transform: translate(-5px, 5px) rotate(-2deg);
  transform-origin: left;
}

.tutorial:hover::before {
  transform: translate(3px, -3px) rotate(4deg);
  color: white;
}

.forum::before {
  transform: translate(5px, -5px) rotate(-2deg);
  transform-origin: right;
}

.forum:hover::before {
  transform: translate(-3px, 3px) rotate(4deg);
  color: white;
}

.examples::before {
  transform: translate(5px, -5px) rotate(-4deg);
  transform-origin: right;
}

.examples:hover::before {
  transform: translate(-5px, 5px) rotate(4deg);
  color: white;
}

.participate::before {
  transform: translate(-3px, -5px) rotate(4deg);
}

.participate:hover::before {
  transform: translate(3px, 5px) rotate(-2deg);
  color: white;
}

.contribute::before {
  transform: translate(3px, 5px) rotate(-4deg);
}

.contribute:hover::before {
  transform: translate(-3px, -5px) rotate(2deg);
  color: white;
}

@media (--medium) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double) * 2 / 3);
  }
}

@media (--reduced) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double));
  }
}

@media (--small) {
  .large {
    padding: var(--gutter-double) calc(var(--gutter-double) * 2);
  }
}
